<div class="container">
    
<div class="div">
 
   <form 
   class="row g-3 needs-validation" novalidate
   [formGroup]="nuevalocalidad"
    (ngSubmit)="onSumbit()"
   >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">nombre de la localidad</label>
          <input type="text" class="form-control" id="validationCustom01" formControlName="nombre" >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">url de la imagen de la localidad </label>
          <input type="text" class="form-control" id="validationCustom02" formControlName="urlImagen" >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">guardar localidad</button>
        </div>
      </form>
</div>
</div>
