.container-fluid{
    background-color: rgb(44, 143, 243);
}
header.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
label.menu-btn {
    
    margin-left: 2rem; 
}

#menu-toggle { 
    display: none;
}

a.menu-link {
    text-decoration: none;
    font-size: 14px;

}

img.logo-site {
    width: 60px;

}

.menu-btn{ 
    position: fixed;
    cursor: pointer;
    left: 0;
}

.sidebar{ 
    display: none;
    
}

#menu-toggle:checked ~ .sidebar { 
   display: block;
}

svg {
    width: 2rem;
}


ul.menu-principal {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    left: 0;
    position: absolute;
    padding: 3rem 2rem;

}

@media screen and (min-width: 768px) {
    img.logo-site {
        width: 100px;
    }

    svg {
        display: none;
    }

    .sidebar {
        display: block;
    }

    ul.menu-principal {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        justify-content: center;
        position: relative;
        /* border-left: 2rem; */
        left: initial;
    }

}



@media screen and (min-width: 1024px) {
    a.menu-link {
        font-size: 16px;

    }

    svg {
        display: none;
    }

    .sidebar {

        display: flex;

        flex-basis: 50%;
    }

    a.btn {
        padding: 0.5rem 1.2rem;

        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
            
    }

   

}