<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Acerca de nosotros</h4>
          <p>Somos una empresa de robots que busca revolucionar la industria con nuestra tecnología avanzada.</p>
        </div>
        <div class="col-md-4">
          <h4>Enlaces útiles</h4>
          <ul>
            <li><a href="#">Página principal</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Redes sociales</h4>
          <ul>
            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2023 Robots Inc. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
