/* Estilos generales */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos de formulario */
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-md-4 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .valid-feedback {
    color: #3e8e41;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .invalid-feedback {
    color: #0f068a;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Animaciones y efectos 3D */
  input[type="text"]:focus {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  label {
    transform: translateZ(0);
    transition: transform 0.3s ease;
  }
  
  label:hover {
    transform: translateZ(10px);
    transition: transform 0.3s ease;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #23527c;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:active {
    transform: translateY(2px);
    transition: transform 0.3s ease;
  }
  
  /* Efectos 3D en el botón */
  button[type="submit"] {
    perspective: 1000px;
  }
  
  button[type="submit"]:hover {
    transform: rotateY(10deg);
    transition: transform 0.3s ease;
  }
  
  button[type="submit"]:active {
    transform: rotateY(20deg);
    transition: transform 0.3s ease;
  }