.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px);
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-info h3 {
    margin-top: 0;
    font-weight: bold;
  }
  
  .product-actions {
    padding: 20px;
    text-align: right;
  }
  
  .btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffc107;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

