<!-- 
<div class="product">
  <h1 class="title">Lista de productos</h1>
  <ul class="products-list">
    <li *ngFor="let product of products " class="product-item">
      <div class="card ">
        <img [src]="product.urlimagen" class="card-img-top" [alt]="products.name">

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p>{{product.price | currency}}</p>
            <p>{{product.quantity}}</p>

          <a href="#" class="btn btn-primary">Agregar a carrito</a>
        </div>
      </div>
      </li>
  </ul>

</div> -->

<div class="container" style="background-color: #020101; padding: 0px; margin: 0px, 0px, 0px, 0px;">
  <div class="event-list">
    <div *ngFor="let evento of products" class="event-card">
      <div class="event-image" style="background-color: #090101;">
        <img [src]="evento.urlimagen" alt="Imagen del evento" *ngIf="evento.urlimagen">
      </div>
      <div class="event-info" style="background-color: #ef0a0a; padding: 20px; color: #fff;">
        <h2 style="color: #fff;">{{ evento.name }}</h2>
        <p style="color: #fff;">{{ evento.quantity }}</p>
        <p style="color: #fff;"><strong>Precio:</strong> {{ evento.price | currency }}</p>
        
      </div>
      <div class="event-actions" style="background-color: #ec0606; padding: 20px; text-align: right;">
        <a href="#" class="btn btn-primary" style="background-color: #020101;">Agregar a carrito</a>
        
      </div>
    </div>
  </div>
</div>