/* 
ul.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

li.product-item {
    width: 290px;
    height: 24rem;
    max-height: 100%;
    box-shadow: 2px 3px 28px #263238;
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    list-style: none; */
/* } */
/* @media ( min-width: 567px ) {
    li.product-item {
        width: 45%;
    }
}
@media ( min-width: 768px ) {
    li.product-item {
        width: 30%;
    }
}
@media ( min-width: 768px ) {
    li.product-item {
        width: 22%;
    }
} */

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .event-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #030000;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
    width: 300px;
  }
  
  .event-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .event-info {
    padding: 20px;
  }
  
  .event-info h2 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .event-actions {
    padding: 20px;
    text-align: right;
  }
  
  .event-actions a {
    margin-left: 10px;
  }
  
  element.style {
    background-color: #1f60c8;
    padding: 20px;
    color: #fff;
  }
