
<div class="eventos">
  <ul>
    <li *ngFor="let eventos of eventos">
      <div class="card" style="width: 18rem;">
        <img [src]="eventos.urlImage" class="card-img-top" [alt]="eventos.name">
        <div class="card-body">
          <h5 class="card-title">{{ eventos.name }}</h5>
          <p class="card-text">{{ eventos.Descripcion }}</p>
          <p class="card-number">Precio:  {{ eventos.price | currency}}</p>
          <p class="card-date">Fecha inicial:  {{ eventos.fecha_inicial }}</p>
          <p class="card-date">Fecha final:  {{ eventos.fecha_final }}</p>
          <a href="#" class="btn btn-primary">Inscribirse</a>
        </div>
      </div>
    </li>
  </ul>

</div>