ul.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

li.product-item {
    width: 320px;
    height: 24rem;
    max-height: 100%;
    box-shadow: 2px 3px 28px #263238;
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
    border-radius: .5rem;
    list-style: none;
}
/* @media ( min-width: 567px ) {
    li.product-item {
        width: 45%;
    }
}
@media ( min-width: 768px ) {
    li.product-item {
        width: 30%;
    }
}
@media ( min-width: 768px ) {
    li.product-item {
        width: 22%;
    }
} */