<div class="container">
    <form 
    form class="row g-3 needs-validation" novalidate
    [formGroup]="actualizareventosForm" 
    (ngSubmit)="onSumbit()"
    class="form form-eventos"
    >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">nombre del evento</label>
          <input type="text" class="form-control" id="validationCustom01"  formControlName="name">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">descripcion del evento</label>
          <input type="text" class="form-control" id="validationCustom02" formControlName="description" value= >
          <div class="valid-feedback">
            Looks good!
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Precio</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" placeholder="Ingresa el precio" formControlName="price" required>
            <div class="valid-feedback">
              ¡Perfecto!
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom04" class="form-label">Fecha inicial del evento</label>
          <input type="date" class="form-control" id="validationCustom04" formControlName="initialDate" required>
          <div class="invalid-feedback">
          Por favor, ingresa una fecha válida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom04" class="form-label">Fecha final del evento</label>
          <input type="date" class="form-control" id="validationCustom04" formControlName="finalDate" required>
          <div class="invalid-feedback">
          Por favor, ingresa una fecha válida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom06" class="form-label">URL de la imagen</label>
          <input type="url" class="form-control" id="validationCustom06" placeholder="Ingresa la URL de la imagen" formControlName="imageUrl" required>
          <div class="valid-feedback">
          ¡Perfecto!
          </div>
        </div>

        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">guardar cambios</button>
        </div>
      </form>
</div>