<div class="container">
    <form 
    form class="row g-3 needs-validation" novalidate
    [formGroup]="actualizareventosForm" 
    (ngSubmit)="onSumbit()"
    class="form form-eventos"
    >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">nombre del evento</label>
          <input type="text" class="form-control" id="validationCustom01"  formControlName="name">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">descripcion del evento</label>
          <input type="text" class="form-control" id="validationCustom02" formControlName="description" value= >
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">guardar cambios</button>
        </div>
      </form>
</div>