<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre localidad</th>
        <th scope="col">urlImagen</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let localidad of localidades">
        <th scope="row">{{localidad._id}}</th>
        <td>{{ localidad.nombre }}</td>
        <td>{{localidad.urlImagen}}</td>
        <td>
          <a class="btn btn-primary"  routerLink="/dashboard/actualizar-localidad/{{localidad._id}}">editar</a>
          <a (click)="onDelete(localidad._id)" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
     
    </tbody>
  </table>
</div>


<div class="localidad">
  <h1 class="title">Localidades</h1>
  <ul class="products-list">
    <li *ngFor="let localidad of localidades " class="product-item">
      <div class="card ">
        <img [src]="localidad.urlImagen" class="card-img-top" [alt]="localidades.name">

        <div class="card-body">
          <h5 class="card-title">{{ localidad.name }}</h5>

          <a href="#" class="btn btn-primary">Inscribirse</a>
        </div>
      </div>
      </li>
  </ul>

</div>
